--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio

sentence-transformers
faiss-cpu

langchain-core==0.3.21
langchain==0.3.8
langchain-community==0.3.8
langchain-openai==0.2.9
langchain-huggingface==0.1.0

gradio

python-dotenv
azure-storage-blob
